
  <!-- Main -->
  <div class="content main-container" id="home">
    <div class="banner-resume">
      <div class="container">
        <div class="row">
          <div class="banner-resume-content">
            <h1>Nicolas Dotto,
              <br>Business Analyst 2.0.</h1>
            <h2>Building a career in data science & web development.</h2><div class="social-icon">
              <a href="https://uk.linkedin.com/in/nicolas-dotto-a6b2a0b2" class="btn btn-round btn-clear btn-linkedin"><i class="fa fa-linkedin-square"></i></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="banner-resume-navbar">
            <strong>
              <div class="class col-xs-12 col-sm-3"><a href="#about" class="main-navbar-item main-navbar-link">About</a></div>
              <div class="class col-xs-12 col-sm-3"><a href="#resume" class="main-navbar-item main-navbar-link">Experience</a></div>
              <div class="class col-xs-12 col-sm-3"><a href="#skills" class="main-navbar-item main-navbar-link">Skills</a></div>
              <div class="class col-xs-12 col-sm-3"><a href="#portfolio" class="main-navbar-item main-navbar-link">Portfolio</a></div>
            </strong>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- About -->
  <div class="about-page" id="about">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 ">
          <div class="about-container">
            <h3 class="section-about-title" id="title-about">About</h3>
            <h4>Bienvenue! Thank you for taking the time to read this section</h4>
            <p>I finally did it! I have started my journey as a junior developer with restless excitement and absolutely no regret. What I want is to become a complete data engineer. And to do so I chose to embrace the technology that is shaping our world. Starting with learning web development.
            <br>
            I learned Ruby on Rails, HTML, CSS, Bootstrap, JavaScript & jQuery and SQL at <a class="link-to" href="http://www.lewagon.org/en" target="_blank"> <img class="lewagon-picture" src="images/le_wagon.png" alt="Le Wagon"></a>'s leading coding bootcamp.
            <br>
            <br>
            Learning programming is a marathon journey and things get really tough every now and then but living a life on purpose is a gift once you are clear about it and that is the reason why I have decided to live mine putting my real passion to use!
            <br>
            </p>
            <br>
            <br>
            <h4>Why did I decide to learn programming and will continue to learn?</h4>
            <p>I have been living and working in London for 4 years and I have always looked for new challenges but learning to code has been an aspiration of mine for quite a long time. I learn because I want to be independent and creative, I love to solve problems and automate tasks. Ultimately I want to build my products and share my research. Off to a good start I can already build my websites and share with you this very long resume!
            <br>
            <br>
            The plan is to be able to develop web (and potentially mobile) applications first, while continuing to develop my front-end skills with more advanced CSS technics and responsive design patterns & principes. Then I also want to go deeper into Javascript which you can use to build any type of project and maybe Python the language of choice for data science. But always keep coding!
            <br>
            </p>
            <br>
            <br>
            <h4>The next steps: code code code and find the right environment to continue to learn</h4>
            <p>I am proficient with Ruby, I know the basics of HTML, CSS, Bootstrap, JavaScript & jQuery, and I have a working knowledge of Rails with postgreSQL (I also use Middleman for static websites and blogs). I know it's only the beginning for me but clearly the perspectives are limitless. That is just the beauty of it! I will be coding more and more applications, websites, blogs and hopefully speak new languages. Have a look at my <a class="link-to" href="https://github.com/nicodosw11" target="_blank">Github account</a> every now and then!
            <!-- <br> -->
            <!-- Have a look at my <a class="link-to" href="https://github.com/nicodosw11" target="_blank">Github account</a>. -->
            <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium libero reprehenderit tempore quidem deserunt magni ab maxime voluptas labore voluptatum optio tenetur doloribus porro, sed aliquam perferendis, a atque illum!
            <br> -->
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="rotated-table">
            <!-- <div class="picture-container">
             <img class="profile-picture" src="images/pic.jpeg">
            </div> -->
            <div class="wrapper-table">
              <div>
              <p>My ambition is to develop as a data engineer with the potential of applying data analytics to solve business problems affecting the finance services industry.</p>
              <br>
              <p>FinTechs, big data, blockchain and financial data-driven environments are all of great interest to me and I welcome every opportunity to be exposed to data analysis.
              </div>
              <div>
                <img class="profile-picture" src="images/pic.jpeg">
              </div>
            </div>
            <br>
            <br>
            <div class="picture-container2">
              <img class="data-science-picture" src="images/data-science.png">
            </div>
          </div>
        </div>

      </div>
    </div>
    <a href="#experience">
    <div class="sphere" style="background-color:#F5F6FA">
      <i class="fa fa-angle-down" style="color: #1B1E25"></i>
    </div>
    </a>
  </div>

  <!-- Resume -->
  <div class="resume-page" id="resume">
    <div class="box-resume" >
      <h2>Resume</h2>
      <ul class="v-timeline mt50">
        <li>
          <h3 class="v-heading wow fadeInDown" data-wow-duration="0.7s" data-wow-delay="0s"><i class="fa fa-line-chart"></i>Market Risk</h3>
        </li>
        <li>
          <div class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.5s"><span><i class="fa fa-calendar"></i> jul - sep 2016</span></div>
          <div class="v-icon" data-toggle="collapse" data-target="#toggle-1"><i class="fa fa-plus"></i></div>
          <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.5s">
            <h4 data-toggle="collapse" data-target="#toggle-1">FullStack Developer Bootcamp in London</h4>
            <div id="toggle-1" class="collapse in bullet">
              <a class="link-to" href="http://www.lewagon.org/en" target="_blank"><p>LE WAGON LONDON</p></a>
              <p>Batch 36</p>
              <br>
               <ul>
                <li class="text-left"><em><b>Ruby and coding basics</b></em>: Familiar with the command line and Git. Learned the basics of programming with Ruby and coded programs playing with variables, methods, loops and conditional statements. Discovered how you can read and write in files and how you can collect interesting data by scraping a website or by calling an API.</li>
                <br>
                <li class="text-left"><em><b>Software Engineering</b></em>: Discovered OOP (Object-Oriented programming) and learned to build advanced softwares by structuring programs into different objects using a smart architecture. I coded my first applications following the MVC design pattern. </li>
                <br>
                <li class="text-left"><em><b>Database & SQL</b></em>: Learned to design a database by defining tables and connections. Then discovered SQL, the language used to read/write data and make queries to the database.</li>
                <br>
                <li class="text-left"><em><b>Front-end</b></em>: Improved my UI culture and learned all about HTML, CSS & some of the best practices in web-design (positioning techniques, animations). Familiar with Bootstrap, a useful library to prototype web-applications. Then moved on to Javascript and jQuery. Learned to manipulate the DOM, define events, make AJAX requests with Javascript and played with APIs.</li>
                <br>
                <li class="text-left"><em><b>Rails</b></em>: Coded Airbnb prototype from scratch in 5 days. Worked in teams to learn to collaborate on Github using pull requests and deployed our apps on Heroku, using the same workflow as startups.</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <div class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.6s"><span><i class="fa fa-calendar"></i> jan - dec 2014</span></div>
          <div class="v-icon" data-toggle="collapse" data-target="#toggle-2"><i class="fa fa-plus"></i></div>
          <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.6s">
            <h4 data-toggle="collapse" data-target="#toggle-2">Market Risk Analyst at HSBC, London</h4>
            <div id="toggle-2" class="collapse in bullet">
              <p>HSBC LONDON</p>
              <p>Wholesale Credit & Market Risk, Traded Credit Risk Management & Control</p>
              <br>
              <ul>
                <li class="text-left">Monitoring and reporting of credit exposures for Equity, Credit, FX and Interest Rate Products</li>
                <br>
                <li class="text-left">Reviewing, investigating and escalating excesses and exceptions ensuring integrity of methodologies and exposure calculations</li>
                <br>
                <li class="text-left">Advising Front Office with and recommending changes to risk related systems and processes</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <div class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.7s"><span><i class="fa fa-calendar"></i> oct - aug 2012-2013</span></div>
          <div class="v-icon" data-toggle="collapse" data-target="#toggle-3"><i class="fa fa-plus"></i></div>
          <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.7s">
            <h4 data-toggle="collapse" data-target="#toggle-3">Credit Process Manager, BNP Paribas London</h4>
            <div id="toggle-3" class="collapse in bullet">
              <p>BNP PARIBAS LONDON</p>
              <p>Risk - Investment & Markets, Financial Institutions & Sovereigns</p>
              <br>
              <ul>
                <li class="text-left">Monitored live trades in a wide spectrum of credit transactions including trade finance, structured finance and syndications, etc.</li>
                <br>
                <li class="text-left">Developed financial analysis in specific counterparties (credit annual reviews, ratings, VaR exposures, ISDA/CSA documentation)</li>
                <br>
                <li class="text-left">Coordinated a comprehensive business administration service to Front Office and analysts across the trade life-cycle</li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
      <br>
      <ul class="v-timeline mt50">
        <li>
          <h3 class="v-heading wow fadeInDown" data-wow-duration="0.7s" data-wow-delay="0s"><i class="fa fa-credit-card"></i>Credit Analysis</h3>
        </li>
        <li>
          <div class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0s"><span><i class="fa fa-calendar"></i> aug - jun 2015-2016</span></div>
          <div class="v-icon" data-toggle="collapse" data-target="#toggle-4"><i class="fa fa-plus"></i></div>
          <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0s" >
            <h4 data-toggle="collapse" data-target="#toggle-4">Credit Analyst (Large deals)</h4>
            <div id="toggle-4" class="collapse bullet">
              <p>CLOSE BROTHERS LONDON</p>
              <p>Large Deals (>£1m) review and analysis - Property Finance and Asset Finance</p>
              <br>
              <ul>
                <li class="text-left">Performed summary credit risk analysis on large deals presented to the Banking Division Credit Committee in order to inform underwriting decisions.</li>
                <br>
                <li class="text-left">Reviewed and proposed improvements to the processes and controls for analysis, documentation and control of large deals. Supported development of structured plan, approach and methodology for oversight of large deals across the Bank.</li>
                <br>
                <li class="text-left">Conducted independent quality reviews of local underwriting decisions for large loans across the Bank and raise recommendations for improvement.</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <div class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.1s"><span><i class="fa fa-calendar"></i> jun - dec 2011</span></div>
          <div class="v-icon" data-toggle="collapse" data-target="#toggle-5"><i class="fa fa-plus"></i></div>
          <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.1s" >
            <h4 data-toggle="collapse" data-target="#toggle-5">Sell-Side Credit Analyst (Internship)</h4>
            <div id="toggle-5" class="collapse bullet">
            <p>SOCIÉTÉ GÉNÉRALE CIB PARIS</p>
            <p>Credit Research (Utilities & Energy – Bonds & Credit Derivative Swaps)</p>
            <br>
            <ul>
              <li class="text-left">Built cash flow models and sensitivity analysis, prepared credit analysis and presentations for sales partners and investor clients.</li>
              <br>
              <li class="text-left">Collected, compiled and analysed data for the mid-year commodities outlook and ad-hoc external research publications (e.g. post-Fukushima German nuclear power market, EU emissions trading scheme implications for the industry, etc.)</li>
              <br>
              <li class="text-left">Produced liquidity, funding and debt issuance forecast based on company's financial profile and evolution of capital expenditure plan</li>
            </ul>
            </div>
          </div>
        </li>
        <li>
          <div class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.2s"><span><i class="fa fa-calendar"></i> sep - sep 2010-2011</span></div>
          <div class="v-icon" data-toggle="collapse" data-target="#toggle-6"><i class="fa fa-plus"></i></div>
          <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.2s">
            <h4 data-toggle="collapse" data-target="#toggle-6">Credit Risk Analyst (Apprenticeship)</h4>
            <div id="toggle-6" class="collapse bullet">
            <p>FORTIS COMMERCIAL FINANCE PARIS</p>
              <p>Factoring, Invoice Discounting and asset based lending solutions</p>
              <br>
              <ul>
                <li class="text-left">Analysed credit information for Small-Medium Enterprises (max €20mn total balance sheet) to establish customers’ credit limits and elevate visibility of customers with increased exposure/risk</li>
                <br>
                <li class="text-left">Monitored changes in economic, industry, and customer conditions and maintain communication with various business units to evaluate potential changes to customers' creditworthiness and credit limits</li>
                <br>
                <li class="text-left">Assisted Collection team in resolving customer disputes, maintaining integrity of customer financial data and managing bad debt</li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
      <br>
      <ul class="v-timeline mt50">
        <li>
          <h3 class="v-heading wow fadeInDown" data-wow-duration="0.7s" data-wow-delay="0s"><i class="fa fa-graduation-cap"></i>Education</h3>
        </li>
        <li>
          <div class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0s"><span><i class="fa fa-calendar"></i> sep - sep 2010-2011</span></div>
          <div class="v-icon" data-toggle="collapse" data-target="#toggle-7"><i class="fa fa-plus"></i></div>
          <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0s" >
            <h4 data-toggle="collapse" data-target="#toggle-7">Masters in Banking & Finance (Year 2)</h4>
            <div id="toggle-7" class="collapse in bullet">
              <p>PARIS IX DAUPHINE UNIVERSITY,</p>
              <p>Corporate banking & Financial Risk Management</p>
             <!--  <br>
              <ul>
                <li class="text-left"></li>
                <br>
                <li class="text-left"></li>
                <br>
                <li class="text-left"></li>
              </ul> -->
            </div>
          </div>
        </li>
        <li>
          <div class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.1s"><span><i class="fa fa-calendar"></i> sep - sep 2009-2010</span></div>
          <div class="v-icon" data-toggle="collapse" data-target="#toggle-8"><i class="fa fa-plus"></i></div>
          <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.1s" >
            <h4 data-toggle="collapse" data-target="#toggle-8">Masters in Finance (Year 1) as part of a work-study program</h4>
            <div id="toggle-8" class="collapse bullet">
            <p>UNIVERSITÉ DE CERGY PONTOISE</p>
            <p>Financial Statistics & Econometrics</p>
            <!-- <br>
            <ul>
              <li class="text-left"></li>
              <br>
              <li class="text-left"></li>
              <br>
              <li class="text-left"></li>
            </ul> -->
            </div>
          </div>
        </li>
        <li>
          <div class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.2s"><span><i class="fa fa-calendar"></i> sep - sep 2005-2008</span></div>
          <div class="v-icon" data-toggle="collapse" data-target="#toggle-9"><i class="fa fa-plus"></i></div>
          <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.2s">
            <h4 data-toggle="collapse" data-target="#toggle-9">Bachelor of Arts in Business Administration (First Class)</h4>
            <div id="toggle-9" class="collapse bullet">
            <p>SOUTH BANK UNIVERSITY, London</p>
            <p>Financial Markets & Corporate Finance</p>
              <br>
            <p>Sept 2005 - 2007: Two-year degree in Business Administration TOULOUSE PAUL SABATIER UNIVERSITY</p>
            <p>Sept 2007 - 2008: Final third year at LONDON SOUTH BANK UNIVERSITY as part of a student exchange program</p>
              <!-- <ul>
                <li class="text-left"></li>
                <br>
                <li class="text-left"></li>
                <br>
                <li class="text-left"></li>
              </ul> -->
            </div>
          </div>
        </li>
      </ul>
    </div>
    <a href="#experience">
    <div class="sphere" style="background-color:#1B1E25">
      <i class="fa fa-angle-down" style="color: white"></i>
    </div>
    </a>
  </div>

  <section class="experience-page" id="experience">
    <div class="container">
      <header class="section-header">
        <h2 class="section-title"><span>Experience</span></h2>
        <div class="spacer"></div>
        <h4 class="section-subtitle">“Choose a job you love, and you will never have to work a day in your life.” - Oriental proverb</h4>
      </header>
      <div class="row">
        <div class="col-md-4">
          <article class="experience">
            <header>
              <h3>Société Générale & BNP Paribas</h3>
              <p><i>Analyst / Paris & London / 2012 - 2013</i></p>
            </header>
            <p>I graduated in 2011 with a master's degree in Banking & Finance from Paris Dauphine University then started as an intern in research on the sell-side at Société Générale Credit Research Department in Paris. I was looking for an analytical and modelling role because I've always liked researching companies, modelling their businesses using Excel & VBA but I also wanted to be exposed to clients, answering their queries, helping them to think through the consequences of a particular market event.</p>
            <br>
            <p>London has always looked more attractive to me in terms of opportunities and career perspective so I decided to relocate to London with initially a goal of developing as much knowledge and as many skills as I could. The first opportunity that came up was a credit manager position at BNP Paribas so I decided to give it a go and see how I could benefit from that in terms of my personal development. </p>
            <br>
            <p>I also chose that role for the steep learning curve and the communication and interpersonal skills (in a different culture and language) you need to work on a trading floor. There I have been exposed to the whole range of products and financing/capital market activities. I was covering maternity leave and when my ten month contract ended I decided to try myself in another bigger and more international organisation.</p>
          </article>
        </div>
        <div class="col-md-4">
          <article class="experience">
            <header>
              <h3>HSBC</h3>
              <p><i>Business Analyst / London / Nov 2014 - Nov 2015</i></p>
            </header>
            <p>I was offered a 3 month rolling contract at HSBC, as a credit analyst in Wholesale Credit & Market risk with promising opportunities in terms of my professional growth. HSBC Wholesale Credit & Market Risk is the main credit sanctioning department covering larger corporate clients and financial institutions (with Financing limit requirements of > £10m). The department is responsible for assessing and monitoring credit risk exposures to counterparties.</p>
            <br>
            <p>I supported the activities related to the development and improvement of Middle Office function with the capability to value, monitor and risk manage a broad range of Rates/FX/equities/credit products on different markets. My mission there was twofold. Credit reporting and control: monitoring credit exposure and risk measures + anticipation and management of breaches and exceptions. Also pro-actively assessing exposure and the impact of potential transactions to provide an advisory role to Front Office.</p>
            <br>
            <p>I learned immensely from this experience. The position required a strong capacity to manage high volumes of trade data and an ability to prioritise resources among various challenges. I also found my passion for programming when investigating trading systems at HSBC.</p>
          </article>
        </div>
        <div class="col-md-4">
          <article class="experience">
            <header>
              <h3>Close Brothers / Le Wagon</h3>
              <p><i>Analyst / London / Aug 2015 - Sep 2016</i></p>
            </header>
            <p>Looking for a permanent role after three years of contracting led me to Close Brothers where I was working on very interesting large deals such as high profile commercial and residential developments in London, wind farms financing and even Barclays Premier League football transfers! It was a great position. No other team/department has such a deep insight into both the Bank and its activities and the UK economic life.</p>
            <br>
            <p>Looking back at my previous experiences, I clearly missed the ability to be exposed to and manipulate data and to help with their interpretation, visualisation and communication. I also felt that I wanted to embrace the technology that is changing our world, to learn programming and to be able to use new tools and to discover better ways of doing things. At the very least I wanted to be able to get the startup toolkit to build my products. I thought that it was not too late for me and I finally attended Le Wagon's Bootcamp in July 2016.</p>
            <br>
            <p>After the bootcamp I further explored my options in software development and data analysis and I believe that I am a data-driven individual and that I feel particularly attracted to work in such an environment.</p>
          </article>
        </div>
      </div>
    </div>
    <a href="#skills">
      <div class="sphere" style="background-color:#1B1E25">
        <i class="fa fa-angle-down" style="color: #FAFAFA"></i>
      </div>
    </a>
  </section>

  <!-- Skills -->
  <div class="skills-page" id="skills">
    <div class="container" id="content">
      <header class="section-header">
        <h2 class="section-title"><span>Skills</span></h2>
        <div class="spacer"></div>
        <h4 class="section-subtitle">“A ship in harbor is safe, but that is not what ships are built for.” - J. A. Shedd</h4>
      </header>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="skills-text-box">
            <div class="intro-box">
              <div class="intro-with-avatar">
                <!-- <img src="images/data-scientist.png" alt="user" class="avatar-bordered"/> -->
                <div class="text">
                  <!-- <h1></h1> -->
                  <!-- <h2></h2> -->
                  <!-- <h3><i class="fa fa-map-marker" aria-hidden="true"></i>  in London. </h3> -->
                 <!--  <h4></h4> -->
                </div>
              </div>
              <div class="about-text">
                <p>
                  <strong><em>Programming Languages</strong></em>: I have learned basic Ruby first and went through all the fundamental concepts shared by all programming languages: variables, methods, loops, conditional statements, iterators, regular expressions, file parsing and played with them on real-life examples (APIs, scraping HTML, storing data in CSV files).
                  <br><br>
                  I have learned the basics of Python and Javascript in the same way and I am keen to apply the concepts similarly building small web applications asap. I have also learned the basics of Object-Oriented programming (class, instance, instance variables and intance methods), how to structure my programs with objects and I have built my first MVC apps.
                  <br><br>
                  <strong><em>Database & ActiveRecord</strong></em>: I am proficient with relational databases, database schemes and learned how to ask for records to a database using SQL queries. I have also learned Active Record, an ORM to plug ruby objects to the database.
                  <br><br>
                  <strong><em>Web Design</strong></em>:  I have used most of HTML & CSS concepts and was introduced to the best practices in web-design (positioning & layout techniques in CSS + flexbox & CSS animations). I learned how to build web pages with components using when available Bootstrap built-in classes and Bootstrap responsive grid. I am now familiar with advanced concepts such as ERB, layout, and SASS applied in the context of the frontend framework Middleman. In a second part of the frontend module, I learned the basics of javascript and jQuery to play with the DOM and listen to events on web pages and I was briefly introduced to AJAX and React.js
                  <br><br>
                  <strong><em>Web Frameworks</strong></em>: I went through all the core notions of Rails (routing, controllers, models, views) and advanced concepts such as authentication (devise) and authorisations (pundit), geocoding or searching. My ambition is to be able to use the MEAN stack (MongoDB, Express, AngularJS, and Node.js) to build my very first application entirely in Javascript and then get familiar with Flask for Python.
                  <!--  <br><br> -->
                  <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla asperiores quis sunt dolores magnam qui facere quod, velit soluta. Cupiditate aut nostrum labore, sapiente ipsa eius voluptate optio impedit illo!
                  <br><br>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos amet iste hic nulla enim, fuga voluptatem doloribus suscipit explicabo qui alias fugit quos, dolores sunt non quo dicta, ullam facere. -->
                  <!-- <br><br>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos temporibus, similique itaque neque dolore beatae enim sunt iste unde, delectus ratione. Placeat non blanditiis ut unde fuga odit aspernatur nulla? -->
                </p>
              </div>
            </div>

            <div class="wrapper-skills">
              <div class="bootcamp-skills-box" style="background-color: white" >
                <h2>Skills developed in the bootcamp</h2>
                <div class="row">
                  <div class="col-xs-12 col-sm-4">
                    <div class="text-center">
                      <i class="fa fa-diamond" style="font-size: 30px; padding: 10px;"></i>
                      <h4>Back-end</h4>
                    </div>
                    <ul class="skills-ul">
                      <li><i class="fa fa-check check-green"></i>Ruby</li>
                      <li><i class="fa fa-check check-green"></i>Ruby on Rails</li>
                      <li><i class="fa fa-check check-green"></i>SQL</li>
                      <li><i class="fa fa-check check-green"></i>PostgreSQL</li>
                      <li><i class="fa fa-check check-green"></i>APIs</li>
                    </ul>
                  </div>

                  <div class="col-xs-12 col-sm-4">
                    <div class="text-center">
                      <i class="fa fa-html5 prog-logo" style="font-size: 30px; padding: 10px;"></i>
                      <h4>Front-end</h4>
                     </div>
                    <ul class="skills-ul">
                     <li><i class="fa fa-check check-green"></i>HTML5 <span class="and-sign"> & </span> CSS3</li>
                     <li><i class="fa fa-check check-orange"></i>JavaScript</li>
                     <li><i class="fa fa-check check-orange"></i>jQuery <span class="and-sign"> & </span> React.js</li>
                     <li><i class="fa fa-check check-green"></i>Bootstrap</li>
                     <li><i class="fa fa-check check-orange"></i>Advanced CSS techniques (flexbox, grid, animations)</li>
                     <li><i class="fa fa-check check-red"></i>UX/UI best practices</li>
                    </ul>
                  </div>

                  <div class="col-xs-12 col-sm-4">
                    <div class="text-center">
                      <i class="fa fa-github" style="font-size: 30px; padding: 10px;"></i>
                      <h4>Tools</h4>
                    </div>
                    <ul class="skills-ul">
                     <li><i class="fa fa-check check-green"></i>Command lines</li>
                     <li><i class="fa fa-check check-green"></i>Sublime Text</li>
                     <li><i class="fa fa-check check-green"></i>Git</li>
                     <li><i class="fa fa-check check-green"></i>Github</li>
                     <li><i class="fa fa-check check-green"></i>Heroku</li>
                     <li><i class="fa fa-check check-green"></i>Sketch</li>
                     <li><i class="fa fa-check check-green"></i>Cloudinary</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="bars">
          <div class="skills ">
            <div class="skills-bar line-div">
              <div class="wrap"><h4>Programming Languages</h4>
                <div class="title-skills">
                  <div class="block-padded-bottom">
                    <p>Ruby</p>
                    <div class="holder border-holder">
                      <div class="bar cf" data-percent="75%"><span class="label"></span></div>
                    </div>
                  </div>
                  <div class="block-padded-bottom">
                    <p>Javascript</p>
                    <div class="holder border-holder">
                      <div class="bar cf" data-percent="25%"><span class="label light"></span></div>
                    </div>
                  </div>
                  <div class="block-padded-bottom">
                    <p>SQL</p>
                    <div class="holder border-holder">
                      <div class="bar cf" data-percent="80%"><span class="label"></span></div>
                    </div>
                  </div>
                  <div class="block-padded-bottom">
                    <p>Python</p>
                    <div class="holder border-holder">
                      <div class="bar cf" data-percent="5%"><span class="label"></span></div>
                    </div>
                  </div>
                  <div class="block-padded-bottom">
                    <p>R</p>
                    <div class="holder border-holder">
                      <div class="bar cf" data-percent="5%"><span class="label light"></span></div>
                    </div>
                  </div>
          <!--         <div class="block-padded-bottom">
                    <p>Software1</p>
                    <div class="holder border-holder">
                      <div class="bar cf" data-percent="30%"><span class="label light"></span></div>
                    </div>
                  </div> -->
                 <!--  <div class="block-padded-bottom">
                    <p>Software2</p>
                    <div class="holder border-holder">
                      <div class="bar cf" data-percent="20%"><span class="label"></span></div>
                    </div>
                  </div>
                  <div class="block-padded-bottom">
                    <p>Software3</p>
                    <div class="holder border-holder">
                      <div class="bar cf" data-percent="22%"><span class="label"></span></div>
                    </div>
                  </div>
                  <div class="block-padded-bottom">
                    <p>Software4</p>
                    <div class="holder border-holder">
                      <div class="bar cf" data-percent="20%"><span class="label light"></span></div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>

            <div class="skills-bar line-div">
              <div class="wrap"><h4>Development</h4>
                <div class="purple-border-holder">
                  <div class="block-padded-bottom">
                    <p>HTML/CSS</p>
                    <div class="holder border-holder">
                      <div class="bar cf" data-percent="56%"><span class="label light"></span></div>
                    </div>
                  </div>
                  <div class="block-padded-bottom">
                    <p>Rails</p>
                    <div class="holder border-holder">
                      <div class="bar cf" data-percent="80%"><span class="label"></span></div>
                    </div>
                  </div>
                  <div class="block-padded-bottom">
                    <p>jQuery</p>
                    <div class="holder border-holder">
                      <div class="bar cf" data-percent="10%"><span class="label"></span></div>
                    </div>
                  </div>
                  <div class="block-padded-bottom">
                    <p>Node.js & Express.js</p>
                    <div class="holder border-holder">
                      <div class="bar cf" data-percent="5%"><span class="label"></span></div>
                    </div>
                  </div>
                  <div class="block-padded-bottom">
                    <p>Flask</p>
                    <div class="holder border-holder">
                      <div class="bar cf" data-percent="5%"><span class="label light"></span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="skills-bar line-div">
             <div class="wrap">
               <h4>Speaking Language</h4>
               <div class="blue-border-holder">
                 <div class=" block-padded-bottom">
                   <p>French</p>
                   <div class="holder border-holder">
                     <div class="bar cf" data-percent="100%"><span class="label light"></span></div>
                   </div>
                 </div>
                 <div class=" block-padded-bottom">
                   <p>English</p>
                   <div class="holder border-holder">
                     <div class="bar cf" data-percent="92%"><span class="label"></span></div>
                   </div>
                 </div>
                 <div class=" block-padded-bottom">
                   <p>Russian</p>
                   <div class="holder border-holder">
                     <div class="bar cf" data-percent="20%"><span class="label"></span></div>
                   </div>
                 </div>
               </div>
             </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <a href="#portfolio">
    <div class="sphere" style="background-color:#F5F6FA">
      <i class="fa fa-angle-down" style="color: #1B1E25"></i>
    </div>
    </a>
  </div>
<!-- </div> -->

<!-- Portfolio -->
  <div class="project-page" id="portfolio">
    <div class="container">
      <header class="section-header">
        <h2 class="section-title"><span>Coding a grocery shopping app</span></h2>
        <div class="spacer"></div>
        <h4 class="section-subtitle">“Everybody in this country should learn to program a computer, because it teaches you how to think.” - Steve Jobs</h4>
      </header>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="container-macbook">
            <% link_to "http://recettes.labelbleu.ch/", target: "_blank" do %>
              <%= image_tag "macbook.png", {class: "macbook", width: "400px", height:"238px"}%>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-offset-1">
          <div class="content-project">
            <h3>Label Bleu</h3>
            <p>
              <%= link_to "<i>Label Bleu recipes</i>", \
              "http://recettes.labelbleu.ch/", class:"link-project", target: "_blank"%>
              has been my very first experience in building a complete web application as part of a team of 3 students at
              <%= link_to "<i>Le Wagon</i>", \
              "https://www.lewagon.com/london", class:"link-project", target: "_blank"%>.
            </p><p>This final project was coded in <i>Ruby</i> during the last two weeks of our coding bootcamp and is a <i>Ruby on Rails</i> prototype of a recipe sharing platform for an existing e-commerce business in Switzerland -
              <%= link_to "<i>Label Bleu</i>", \
              "http://labelbleu.ch/", class:"link-project", target: "_blank"%> e-shop.
            </p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-push-7">
          <div class="container-macbook">
            <video width="400px" height="238px" controls preload="none" poster="images/GoogleCampus.png">
              <source src="videos/LeWagon.mp4" type="video/mp4">
            </video>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-4">
          <div class="content-project">
            <h3>Google Campus</h3>
            <p><%= link_to "<i>Le Wagon Demo Days</i>", \
            "https://www.youtube.com/watch?v=83fw4h2vxCc", class:"link-project", target: "_blank"%>
            - we showcased the project at
            <%= link_to "<i>Google Campus</i>", \
            "https://www.google.co.uk/maps/place/Google+campus/@51.5225996,-0.0855154,15z/data=!4m5!3m4!1s0x0:0xb88623e4c9440da0!8m2!3d51.5225996!4d-0.0855154", class:"link-project", target: "_blank"%>
            on September 9, 2016 and presented the features of our recipe manager application where clients of the e-shop can:
            </p>
            <p>
            - post their recipes and share with other users of the shop,<br>
            - search for their own recipes by ingredients, categories or titles<br>
            - save the recipes in their personal dashboards<br>
            - buy the ingredients for each recipe directly from Label Bleu<br></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="navbar-inner navbar-top">
    <!-- <div class="navbar-inner-large hidden-xs"> -->
      <a href="#home" class="navbar-inner-item navbar-inner-link">Home</a>
      <a href="#about" class="navbar-inner-item navbar-inner-link">About</a>
      <a href="#resume" class="navbar-inner-item navbar-inner-link">Experience</a>
      <a href="#skills" class="navbar-inner-item navbar-inner-link">Skills</a>
      <a href="#portfolio" class="navbar-inner-item navbar-inner-link">Portfolio</a>
      <a href="/contact.html" class="navbar-inner-item navbar-inner-link">Contact</a>
    <!-- </div> -->
    <!-- <div class="dropdown visible-xs" id="burger">
      <i class="fa fa-bars dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#resume">Experience</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="/contact.html">Contact</a></li>
      </ul>
    </div> -->
  </div>

  <div id="footer">
    <div class="paragraph text-center">
      <div class="container">
        <div class="row">
          <div class="back-to-top-link">
            <% link_to "#top" do %>
              <div class="circle-link text-center">
                <span class="arrow-to-top"></span>
                <span><p>top</p></span>
              </div>
            <% end %>
          </div>

          <div class="link-list col-xs-12">
            <ul class="list-inline">
              <li><a href="https://uk.linkedin.com/in/nicolas-dotto-a6b2a0b2"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://twitter.com/nicodosw"><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
          <div class="col-xs-12 copyright">
            © 2016 Nicolas Dotto - All rights reserved
          </div>
        </div>
      </div>
    </div>
  </div>
