
  <!-- Main -->
  <div class="content main-container" id="home">
    <div class="banner-resume">
      <div class="container">
        <div class="row">
          <div class="banner-resume-content">
            <h1>Nicolas Dotto,
              <br>Business Analyst 2.0.</h1>
            <h2>Building a career in data science & web development.</h2><div class="social-icon">
              <a href="https://uk.linkedin.com/in/nicolas-dotto-a6b2a0b2" class="btn btn-round btn-clear btn-linkedin"><i class="fa fa-linkedin-square"></i></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="banner-resume-navbar">
            <strong>
              <a href="#about" class="main-navbar-item main-navbar-link">About</a>
              <a href="#resume" class="main-navbar-item main-navbar-link">Experience</a>
              <a href="#skills" class="main-navbar-item main-navbar-link">Skills</a>
              <a href="#portfolio" class="main-navbar-item main-navbar-link">Portfolio</a>
            </strong>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- About -->
  <div class="about-page" id="about">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 ">
          <div class="about-container">
            <h3 class="section-about-title" id="title-about">About</h3>
            <h4>Bienvenue! Thank you for taking the time to read this section</h4>
            <p>I'm starting a new life after attending <a class="link-to" href="http://www.lewagon.org/en" target="_blank"></a> <img class="lewagon-picture" src="images/le_wagon.png" alt="Le Wagon">
            <br>
            I have been living in London for 4 years, I have always looked for new challenges. Learning to code has been an aspiration of mine for quite a long time.
            <br>
            Have a look at my <a class="link-to" href="https://github.com/nicodosw11" target="_blank">Github account</a>.
            </p>
            <br>
            <br>
            <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates expedita, tempore impedit necessitatibus consectetur corrupti perferendis quidem optio dolorum fuga, architecto id porro accusamus quas amet eaque sapiente exercitationem at.
            <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci maiores sapiente repellat quod recusandae accusamus expedita, inventore illo fuga ex placeat, consequuntur culpa aperiam voluptas laboriosam dolore cum reprehenderit iusto?
            <br>
            </p>
            <br>
            <br>
            <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, autem, totam. Placeat qui aperiam impedit soluta nam quod minima. Laboriosam, soluta laborum amet maxime molestias vel dicta impedit eos quam!
            <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium libero reprehenderit tempore quidem deserunt magni ab maxime voluptas labore voluptatum optio tenetur doloribus porro, sed aliquam perferendis, a atque illum!
            <br>
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="rotated-table">
            <!-- <div class="picture-container">
             <img class="profile-picture" src="images/pic.jpeg">
            </div> -->
            <div class="wrapper-table">
              <div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, mollitia deserunt illo hic doloribus. Reprehenderit commodi iusto soluta velit ex nisi! Nisi, provident architecto, rem commodi labore quas est aliquam?.</p>
              </div>
              <div>
                <img class="profile-picture" src="images/pic.jpeg">
              </div>
            </div>
            <br>
            <br>
            <div class="picture-container2">
              <img class="data-science-picture" src="images/data-science.png">
            </div>
          </div>
        </div>

      </div>
    </div>
    <a href="#experience">
    <div class="sphere" style="background-color:#F5F6FA">
      <i class="fa fa-angle-down" style="color: #1B1E25"></i>
    </div>
    </a>
  </div>



  <!-- Resume -->
  <div class="resume-page" id="resume">
    <div class="box-resume" >
      <h2>Resume</h2>
      <ul class="v-timeline mt50">
        <li>
          <h3 class="v-heading wow fadeInDown" data-wow-duration="0.7s" data-wow-delay="0s"><i class="fa fa-line-chart"></i>Market Risk</h3>
        </li>
        <li>
          <div class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.5s"><span><i class="fa fa-calendar"></i> jul - aug 2007</span></div>
          <div class="v-icon" data-toggle="collapse" data-target="#toggle-1"><i class="fa fa-plus"></i></div>
          <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.5s">
            <h4 data-toggle="collapse" data-target="#toggle-1">Le Wagon - Fullstack Developer Bootcamp in London</h4>
            <p id="toggle-1" class="collapse in"><a class="link-to" href="http://www.lewagon.org/en" target="_blank">Le Wagon</a> is an intensive 12 weeks full-time training school in web application development for front-end and back-end coding using mainly Ruby and Ruby on Rails.</p>
          </div>
        </li>
        <li>
          <div class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.6s"><span><i class="fa fa-calendar"></i> jul - aug 2007</span></div>
          <div class="v-icon" data-toggle="collapse" data-target="#toggle-2"><i class="fa fa-plus"></i></div>
          <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.6s">
            <h4 data-toggle="collapse" data-target="#toggle-2">Market Risk Analyst at HSBC in London</h4>
            <p id="toggle-2" class="collapse">Business Analyst at HSBC in London.
              <br>
              <strong>Tasks:</strong> “Financial Statements”, “Derivatives”, “Credit Risk Limits & Exposure Monitoring”, “Financial Statements”, “Derivatives”, “Credit Risk Limits & Exposure Monitoring”,
              <br>
              <strong>Overview: </strong> I combined my credit skills & market risk analysis experience and did some research on financial markets.</p>
          </div>
        </li>
        <li>
          <div class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.7s"><span><i class="fa fa-calendar"></i> jul - aug 2007</span></div>
          <div class="v-icon" data-toggle="collapse" data-target="#toggle-3"><i class="fa fa-plus"></i></div>
          <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.7s">
            <h4 data-toggle="collapse" data-target="#toggle-3">Financial Institutions Analyst (Assistant) at BNP Paribas in London</h4>
            <p id="toggle-3" class="collapse">Tasks: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae esse nemo doloremque quae sed. Error voluptatibus facilis tempore sapiente exercitationem aperiam, quibusdam, delectus quae ratione odio, nulla voluptate culpa minima!”.
            <br>
            Overview: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex accusantium repellat sit, illum labore voluptas porro voluptates, fugiat asperiores impedit beatae vel, vitae totam minus qui quibusdam ab perspiciatis!
            </p>
          </div>
        </li>
      </ul>
        <br>
      <ul class="v-timeline mt50">
        <li>
          <h3 class="v-heading wow fadeInDown" data-wow-duration="0.7s" data-wow-delay="0s"><i class="fa fa-credit-card"></i>Credit Analysis</h3>
        </li>
        <li>
          <div class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0s"><span><i class="fa fa-calendar"></i> jul - aug 2007</span></div>
          <div class="v-icon" data-toggle="collapse" data-target="#toggle-4"><i class="fa fa-plus"></i></div>
          <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0s" >
            <h4 data-toggle="collapse" data-target="#toggle-4">Credit Analyst</h4>
            <p id="toggle-4" class="collapse in">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit tempora tempore, iure, obcaecati sequi aliquid esse, voluptates excepturi culpa quod, laborum distinctio qui reiciendis facere repudiandae ducimus eligendi repellendus dolor.
            </p>
          </div>
        </li>
        <li>
          <div class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.1s"><span><i class="fa fa-calendar"></i> jul - aug 2007</span></div>
          <div class="v-icon" data-toggle="collapse" data-target="#toggle-5"><i class="fa fa-plus"></i></div>
          <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.1s" >
            <h4 data-toggle="collapse" data-target="#toggle-5">Sell-side Analyst</h4>
            <p id="toggle-5" class="collapse">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque optio placeat in quae praesentium, expedita nulla delectus. Molestiae, id, incidunt deserunt amet non, assumenda possimus, commodi obcaecati repellendus itaque adipisci.</p>
          </div>
        </li>
        <li>
          <div class="v-time wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay="0.2s"><span><i class="fa fa-calendar"></i> jul - aug 2007</span></div>
          <div class="v-icon" data-toggle="collapse" data-target="#toggle-6"><i class="fa fa-plus"></i></div>
          <div class="v-label wow fadeInRight" data-wow-duration="0.7s" data-wow-delay="0.2s">
            <h4 data-toggle="collapse" data-target="#toggle-6">Credit Analyst</h4>
            <p id="toggle-6" class="collapse">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem voluptates consequatur provident magnam obcaecati mollitia adipisci eum, laudantium quos. Accusantium, qui! Quas maxime aperiam optio laborum tempore, deleniti reprehenderit eveniet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut maiores nam sit eum aspernatur obcaecati natus enim, quaerat facilis officia numquam eligendi tenetur corporis voluptate cupiditate veritatis suscipit aliquid asperiores. </p>
          </div>
        </li>
      </ul>
    </div>
    <a href="#experience">
    <div class="sphere" style="background-color:#1B1E25">
      <i class="fa fa-angle-down" style="color: white"></i>
    </div>
    </a>
  </div>

  <section class="experience-page" id="experience">
    <div class="container">
      <header class="section-header">
        <h2 class="section-title"><span>Experience</span></h2>
        <div class="spacer"></div>
        <h4 class="section-subtitle">“Choose a job you love, and you will never have to work a day in your life.” - Oriental proverb</h4>
      </header>
      <div class="row">
        <div class="col-md-4">
          <article class="experience">
            <header>
              <h3>Le Wagon</h3>
              <p><i>Student - Full-Stack Developer / London / 2016 - 2 months</i></p>
            </header>
            <p>Le Wagon is an intensive 12 weeks full-time training school in web application development for front-end and back-end coding using mainly Ruby and Ruby on Rails.</p>
          </article>
        </div>
        <div class="col-md-4">
          <article class="experience">
            <header>
              <h3>HSBC</h3>
              <p><i>Market Risk Analyst / London / Nov 2014 - Nov 2015</i></p>
            </header>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi voluptate tenetur, expedita omnis molestias iusto earum, nobis eius id ipsam. Officia veniam, consectetur rerum ab incidunt fuga? Suscipit, magnam, veritatis.</p>
          </article>
        </div>
        <div class="col-md-4">
          <article class="experience">
            <header>
              <h3>BNP Paribas</h3>
              <p><i>Financial Institutions Analyst (Assistant) / London / Oct 2012 - Aug 2013</i></p>
            </header>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis fugit natus sed distinctio aut, fugiat magni quisquam accusamus expedita modi repellat ipsum, laudantium deserunt quaerat! Harum, beatae vitae sint alias.</p>
          </article>
        </div>
      </div>
    </div>
    <a href="#skills">
      <div class="sphere" style="background-color:#1B1E25">
        <i class="fa fa-angle-down" style="color: #FAFAFA"></i>
      </div>
    </a>
  </section>

  <!-- Skills -->
  <div class="skills-page" id="skills">
    <div class="container" id="content">
      <header class="section-header">
        <h2 class="section-title"><span>Skills</span></h2>
        <div class="spacer"></div>
        <h4 class="section-subtitle">“A ship in harbor is safe, but that is not what ships are built for.” - J. A. Shedd</h4>
      </header>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="skills-text-box">
            <div class="intro-box">
              <div class="intro-with-avatar">
                <!-- <img src="images/data-scientist.png" alt="user" class="avatar-bordered"/> -->
                <div class="text">
                  <!-- <h1></h1> -->
                  <!-- <h2></h2> -->
                  <!-- <h3><i class="fa fa-map-marker" aria-hidden="true"></i>  in London. </h3> -->
                 <!--  <h4></h4> -->
                </div>
              </div>
              <div class="about-text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora mollitia in ex ipsa quasi doloribus natus quisquam dolorem dolorum modi odio, pariatur dignissimos ipsum laboriosam aspernatur quis fugiat soluta repudiandae.
                  <br><br>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam dolore dicta vitae vel illo ex ducimus adipisci sint, nostrum, enim, perspiciatis? Iste, nesciunt animi, ipsa alias voluptate odio deleniti dolorem!
                  <br><br>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam dolore dicta vitae vel illo ex ducimus adipisci sint, nostrum, enim, perspiciatis? Iste, nesciunt animi, ipsa alias voluptate odio deleniti dolorem!
                 <!--  <br><br> -->
                  <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla asperiores quis sunt dolores magnam qui facere quod, velit soluta. Cupiditate aut nostrum labore, sapiente ipsa eius voluptate optio impedit illo!
                  <br><br>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos amet iste hic nulla enim, fuga voluptatem doloribus suscipit explicabo qui alias fugit quos, dolores sunt non quo dicta, ullam facere. -->
                  <!-- <br><br>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos temporibus, similique itaque neque dolore beatae enim sunt iste unde, delectus ratione. Placeat non blanditiis ut unde fuga odit aspernatur nulla? -->
                </p>
              </div>
            </div>

            <div class="wrapper-skills">
              <div class="bootcamp-skills-box" style="background-color: white" >
                <h2>Skills developed in the bootcamp</h2>
                <div class="row">
                  <div class="col-xs-12 col-sm-4">
                    <div class="text-center">
                      <i class="fa fa-diamond" style="font-size: 30px; padding: 10px;"></i>
                      <h4>Back-end</h4>
                    </div>
                    <ul class="skills-ul">
                      <li><i class="fa fa-check check-green"></i>Ruby</li>
                      <li><i class="fa fa-check check-green"></i>Ruby on Rails</li>
                      <li><i class="fa fa-check check-green"></i>SQL</li>
                      <li><i class="fa fa-check check-green"></i>PostgreSQL</li>
                      <li><i class="fa fa-check check-green"></i>APIs</li>
                    </ul>
                  </div>

                  <div class="col-xs-12 col-sm-4">
                    <div class="text-center">
                      <i class="fa fa-html5 prog-logo" style="font-size: 30px; padding: 10px;"></i>
                      <h4>Front-end</h4>
                     </div>
                    <ul class="skills-ul">
                     <li><i class="fa fa-check check-green"></i>HTML5 <span class="and-sign"> & </span> CSS3</li>
                     <li><i class="fa fa-check check-orange"></i>JavaScript</li>
                     <li><i class="fa fa-check check-orange"></i>jQuery <span class="and-sign"> & </span> React.js</li>
                     <li><i class="fa fa-check check-green"></i>Bootstrap</li>
                     <li><i class="fa fa-check check-orange"></i>Advanced CSS techniques (flexbox, grid, animations)</li>
                     <li><i class="fa fa-check check-red"></i>UX/UI best practices</li>
                    </ul>
                  </div>

                  <div class="col-xs-12 col-sm-4">
                    <div class="text-center">
                      <i class="fa fa-github" style="font-size: 30px; padding: 10px;"></i>
                      <h4>Tools</h4>
                    </div>
                    <ul class="skills-ul">
                     <li><i class="fa fa-check check-green"></i>Command lines</li>
                     <li><i class="fa fa-check check-green"></i>Sublime Text</li>
                     <li><i class="fa fa-check check-green"></i>Git</li>
                     <li><i class="fa fa-check check-green"></i>Github</li>
                     <li><i class="fa fa-check check-green"></i>Heroku</li>
                     <li><i class="fa fa-check check-green"></i>Sketch</li>
                     <li><i class="fa fa-check check-green"></i>Cloudinary</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="bars">
          <div class="skills ">
            <div class="skills-bar line-div">
              <div class="wrap"><h4>Programming Languages</h4>
                <div class="title-skills">
                  <div class="block-padded-bottom">
                    <p>Ruby</p>
                    <div class="holder border-holder">
                      <div class="bar cf" data-percent="75%"><span class="label"></span></div>
                    </div>
                  </div>
                  <div class="block-padded-bottom">
                    <p>Javascript</p>
                    <div class="holder border-holder">
                      <div class="bar cf" data-percent="25%"><span class="label light"></span></div>
                    </div>
                  </div>
                  <div class="block-padded-bottom">
                    <p>SQL</p>
                    <div class="holder border-holder">
                      <div class="bar cf" data-percent="80%"><span class="label"></span></div>
                    </div>
                  </div>
                  <div class="block-padded-bottom">
                    <p>Python</p>
                    <div class="holder border-holder">
                      <div class="bar cf" data-percent="5%"><span class="label"></span></div>
                    </div>
                  </div>
                  <div class="block-padded-bottom">
                    <p>R</p>
                    <div class="holder border-holder">
                      <div class="bar cf" data-percent="5%"><span class="label light"></span></div>
                    </div>
                  </div>
          <!--         <div class="block-padded-bottom">
                    <p>Software1</p>
                    <div class="holder border-holder">
                      <div class="bar cf" data-percent="30%"><span class="label light"></span></div>
                    </div>
                  </div> -->
                 <!--  <div class="block-padded-bottom">
                    <p>Software2</p>
                    <div class="holder border-holder">
                      <div class="bar cf" data-percent="20%"><span class="label"></span></div>
                    </div>
                  </div>
                  <div class="block-padded-bottom">
                    <p>Software3</p>
                    <div class="holder border-holder">
                      <div class="bar cf" data-percent="22%"><span class="label"></span></div>
                    </div>
                  </div>
                  <div class="block-padded-bottom">
                    <p>Software4</p>
                    <div class="holder border-holder">
                      <div class="bar cf" data-percent="20%"><span class="label light"></span></div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>

            <div class="skills-bar line-div">
              <div class="wrap"><h4>Development</h4>
                <div class="purple-border-holder">
                  <div class="block-padded-bottom">
                    <p>HTML/CSS</p>
                    <div class="holder border-holder">
                      <div class="bar cf" data-percent="56%"><span class="label light"></span></div>
                    </div>
                  </div>
                  <div class="block-padded-bottom">
                    <p>Rails</p>
                    <div class="holder border-holder">
                      <div class="bar cf" data-percent="80%"><span class="label"></span></div>
                    </div>
                  </div>
                  <div class="block-padded-bottom">
                    <p>jQuery</p>
                    <div class="holder border-holder">
                      <div class="bar cf" data-percent="10%"><span class="label"></span></div>
                    </div>
                  </div>
                  <div class="block-padded-bottom">
                    <p>Node.js & Express.js</p>
                    <div class="holder border-holder">
                      <div class="bar cf" data-percent="5%"><span class="label"></span></div>
                    </div>
                  </div>
                  <div class="block-padded-bottom">
                    <p>Flask</p>
                    <div class="holder border-holder">
                      <div class="bar cf" data-percent="5%"><span class="label light"></span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="skills-bar line-div">
             <div class="wrap">
               <h4>Speaking Language</h4>
               <div class="blue-border-holder">
                 <div class=" block-padded-bottom">
                   <p>French</p>
                   <div class="holder border-holder">
                     <div class="bar cf" data-percent="100%"><span class="label light"></span></div>
                   </div>
                 </div>
                 <div class=" block-padded-bottom">
                   <p>English</p>
                   <div class="holder border-holder">
                     <div class="bar cf" data-percent="92%"><span class="label"></span></div>
                   </div>
                 </div>
                 <div class=" block-padded-bottom">
                   <p>Russian</p>
                   <div class="holder border-holder">
                     <div class="bar cf" data-percent="20%"><span class="label"></span></div>
                   </div>
                 </div>
               </div>
             </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <a href="#portfolio">
    <div class="sphere" style="background-color:#F5F6FA">
      <i class="fa fa-angle-down" style="color: #1B1E25"></i>
    </div>
    </a>
  </div>
<!-- </div> -->

<!-- Portfolio -->
  <div class="project-page" id="portfolio">
    <div class="container">
      <header class="section-header">
        <h2 class="section-title"><span>Coding a grocery shopping app</span></h2>
        <div class="spacer"></div>
        <h4 class="section-subtitle">“Everybody in this country should learn to program a computer, because it teaches you how to think.” - Steve Jobs</h4>
      </header>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="container-macbook">
            <% link_to "http://recettes.labelbleu.ch/", target: "_blank" do %>
              <%= image_tag "macbook.png", class: "macbook" %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-offset-1">
          <div class="content-project">
            <h3>Label Bleu</h3>
            <p>
              <%= link_to "<i>Label Bleu recipes</i>", \
              "http://recettes.labelbleu.ch/", class:"link-project", target: "_blank"%>
              is our very first web application coded in <i>Ruby</i> during the last two weeks of our coding bootcamp at
              <%= link_to "<i>Le Wagon</i>", \
              "https://www.lewagon.com/london", class:"link-project", target: "_blank"%>.
            </p><p>This final project is a <i>Ruby on Rails</i> prototype of a recipe sharing platform for an existing e-commerce business in Switzerland -
              <%= link_to "<i>Label Bleu</i>", \
              "http://labelbleu.ch/", class:"link-project", target: "_blank"%> e-shop.
            </p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-push-7">
          <div class="container-macbook">
            <video width="400px" height="238px"controls preload="auto">
              <source src="videos/LeWagon.mp4" type="video/mp4">
            </video>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-4">
          <div class="content-project">
            <h3>Google Campus</h3>
            <p><%= link_to "<i>Le Wagon Demo Days</i>", \
            "https://www.youtube.com/watch?v=83fw4h2vxCc", class:"link-project", target: "_blank"%>
            - we showcased this project at
            <%= link_to "<i>Google Campus</i>", \
            "https://www.google.co.uk/maps/place/Google+campus/@51.5225996,-0.0855154,15z/data=!4m5!3m4!1s0x0:0xb88623e4c9440da0!8m2!3d51.5225996!4d-0.0855154", class:"link-project", target: "_blank"%>
            on September 9, 2016 and presented the features of our recipe manager application where clients of the e-shop can:
            </p>
            <p>
            - post their recipes and share with other users of the shop,<br>
            - search for their own recipes by ingredients, categories or titles<br>
            - save the recipes in their personal dashboards<br>
            - buy the ingredients for each recipe directly from Label Bleu<br></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="navbar-inner navbar-top">
  <a href="#home" class="navbar-inner-item navbar-inner-link">Home</a>
  <a href="#about" class="navbar-inner-item navbar-inner-link">About</a>
  <a href="#resume" class="navbar-inner-item navbar-inner-link">Experience</a>
  <a href="#skills" class="navbar-inner-item navbar-inner-link">Skills</a>
  <a href="#portfolio" class="navbar-inner-item navbar-inner-link">Portfolio</a>
  </div>

  <div id="footer">
    <div class="paragraph text-center">
      <div class="container">
        <div class="row">
          <div class="back-to-top-link">
            <% link_to "#top" do %>
              <div class="circle-link text-center">
                <span class="arrow-to-top"></span>
                <span><p>top</p></span>
              </div>
            <% end %>
          </div>

          <div class="link-list col-xs-12">
            <ul class="list-inline">
              <li><a href="https://uk.linkedin.com/in/nicolas-dotto-a6b2a0b2"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://twitter.com/nicodosw"><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
          <div class="col-xs-12 copyright">
            © 2016 Nicolas Dotto - All rights reserved
          </div>
        </div>
      </div>
    </div>
  </div>
